<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de présentation</title>
</head>
<body>
    <h1>Présentation de {{ nom }}</h1>
    <p>Nom : {{ nom }}</p>
    <p>Âge : {{ age }}</p>
    <p>Profession : {{ profession }}</p>
    <p>Centres d'intérêt : 
        <ul>
        {% for interet in interets %}
            <li>{{ interet }}</li>
        {% endfor %}
        </ul>
    </p>
</body>
</html>
